@{
    ViewBag.Title = "About Tracey";
}

<br /><br />
<div class="text-start container">
    <h1 class="title-intro">@ViewBag.Title</h1>
    <h3>Living With ASL</h3>
</div>

<!--Biography Block-->
<div class="container space">
    <div class="row">
        <div class="col-md-6" style="font-size: 20px;">
            <img src="https://i1.wp.com/aslwithtracyonline.com/wp-content/uploads/2021/02/profile.jpg?w=336&ssl=1" style="width: 300px; height: 350px;" alt="Tracey" /> <br />
            Have Questions? Contact Me with: <br />
            <a class="btn btn-info" href="mailto:aslwithtracy@gmaill.com"><i class="far icons fa-envelope"></i></a> <a class="btn btn-info" href="tel:555-555-5555"><i class="fas icons fa-phone"></i></a>
            <br /><br />
            <center>
                <a href="https://www.buymeacoffee.com/aslwithtracy" class="btn" target="_blank">
                    <img src="~/assets/coffee.png" alt="Alternate Text" />
                </a>
            </center>
        </div>
        <div class="col-md-6">
            <h1>
                <strong>My Biography</strong>
            </h1>
            <p class="lead">
                I was born deaf and legally blind in Ontario, Canada and I now resides in Oklahoma, USA.
                <br />
                I was mainstreamed in an oral program in public school for Elementary school, then switched to a Deaf Institute for her High School years.
                I’m happily married with 2 adult children and works as an online ASL teacher and freelance writer.
                <br />
                I enjoy watching television and movies, spending time with family and friends (all online right now due to the pandemic), reading books, writing stories, flea marketing, and cooking.
                <br /><br />
            </p>
            <h1>
                <strong>Teaching Style</strong>
            </h1>
            <p class="lead">
                I teach online through Zoom in a casual setting. I teach with the microphone off as ASL is a visual language and aural clues make it harder to remember the signs, otherwise we will use the chat feature to communicate.

                For my ASL lessons, I provide membership to my curriculum’s website – <a class="text-info" style="text-decoration:underline" href="https://www.asldeafined.com/" target="_blank">Asleafined.com</a>, as well as lesson handouts, videos, PowerPoints, and reading materials. You will also receive homework to complete offline in your own time – this includes activities to complete on the website, reading, watching videos, and submitting your own ASL videos, or essays.

                Please note, I do not reward CEUs or a Certificate of Completion. My lessons are geared towards personal learning only.
            </p>
        </div>
    </div>
</div>
