@{
    ViewBag.Title = "Home Page";
}

<div class="container text-primary text-center home-bg">
    <h1 class="title-intro">Welcome To Tracey</h1>
    <h1 class="display-4">Helping Those With ASL</h1>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<br /><br /><br /><br />
<center>
    <a href="https://www.buymeacoffee.com/aslwithtracy" class="btn" target="_blank">
        <img src="~/assets/coffee.png" alt="Alternate Text" />
    </a>
</center>

<!--Services Block-->
<div class="container space">
    <div class="row text-center ">
        <div class="col-md-12">
            <h1 class="title-intro">MY SERVICES</h1>
            <br /><br />
            <p style="font-size: 20px;" class="text-center">
                I offer Several types of ASL services, to include;
                <ul class="lead-text" style="list-style: none; font-size: 20px;">
                    <li>ASL level 1 & 2 Sessions</li>
                    <li>ASL Tutoring</li>
                    <li>Conversation Practice</li>
                </ul>
            </p>
        </div>
    </div>
</div>

<div class="container text-center space">
    <h2 class="title-intro">It's All About ASL</h2>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <i class="fas icon fa-hands-helping"></i> <br />
            <h2>Getting started</h2>
            <p style="font-size: 20px;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Cursus risus at ultrices mi tempus imperdiet.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <i class="fas icon fa-book-reader"></i> <br />
            <h2>Get more libraries</h2>
            <p style="font-size: 20px;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Cursus risus at ultrices mi tempus imperdiet.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <i class="fas icon fa-users"></i>
            <h2>Using Profiles</h2>
            <p style="font-size: 20px;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Cursus risus at ultrices mi tempus imperdiet.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>
</div>

<!-- description block -->
<div class="container space">
    <div class="row">
        <div class="col-md-6">
            <br />
            <img src="https://media.istockphoto.com/photos/woman-hand-sign-friend-asl-american-sign-language-picture-id537867821?k=6&m=537867821&s=170667a&w=0&h=EMLinzhx5rgnAsNVpwnuAJlcilbSl8RykvijFHH9FWU="
                 alt="Alternate Text"
                 class="img-fluid" />
        </div>
        <div class="col-md-6">
            <br />
            <h1>Understanding Us</h1>
            <p>
                When someone with ASL is talking, it is still present. We talk
                in different forms of communication and just need a little more
                time to be heard. To help families with those who have ASL, we
                designed this website to help.
            </p>
            <a href="#" class="btn btn-primary">ask now</a>
        </div>
    </div>
    <br /><br /><br /><br /><br /><br /><br />
    <div class="row">
        <div class="col-md-6">
            <br />
            <h1>Connecting With Kids</h1>
            <p>
                When someone with ASL is talking, it is still present. We talk
                in different forms of communication and just need a little more
                time to be heard. To help families with those who have ASL, we
                designed this website to help.
            </p>
            <a href="#" class="btn btn-primary">ask now</a>
        </div>
        <div class="col-md-6">
            <br />
            <img src="https://image.shutterstock.com/image-photo/sign-language-teacher-extra-tutoring-600w-1440992648.jpg"
                 alt="Alternate Text"
                 class="img-fluid" />
        </div>
    </div>
</div>

<div class="container text-center space">
    <h1 class="title-intro">Little Fun Fact About ASL</h1>
    <iframe width="80%" height="483" src="https://www.youtube.com/embed/uOIILzYgxTk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>